<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login Form </title>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>

<body>
    <div class="center">
        <h1>Login</h1>
        <p id="msg" class="hidden">Enter valid credentials</p>
        <form>
            <div class="txt_field">
                <input type="email" id="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">Forgot Password?</div>
            <button type="submit" id="login">Login</button>
            <div class="signup_link">Not a member? <a href="/user/register">Signup</a>
            </div>
        </form>
    </div>
    <script src="../../static/js/login.js"></script>
</body>
</html>