<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../../static/css/register.css">
</head>

<body>
    <div class="login-form">
        <form id="register-form">
            <h1>REGISTER FORM</h1>
            <p id="msg" class="hidden"></p>
            <h2><label for="">NAME</label></h2><input type="text" id="name" required>
            <h2><label for="">EMAIL</label></h2><input type="email" id="email" required>
            <h2><label for="">PASSWORD</label></h2><input type="password" id="password" required>
            <h2><label for="">CONFIRM PASSWORD</label></h2><input type="password" id="cpassword" required>
            <label id="alertmsg" style="margin: 10px; color: red;" hidden >Password not matched</label>
            <button type="submit">REGISTER</button> 
        </form>
    </div>
    <script src="../../static/js/register.js"></script>
</body>

</html>