<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordAPP</title>
    <link rel="icon" type="image/x-icon" href="../static/images/facicon.png">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <form action="">
            <h1>Word is <i>{{word}}</i></h1>
            <div class="outline"><span id="synonyms">Synonyms</span></div> <br>
            <div class="outline"><span id="antonyms">Antonyms</span></div> <br>
            <div class="outline"><span id="definitions">Definition</span></div> <br>
            <div class="outline"><span id="examples">Example</span></div> <br>
            <div class="outline"><span id="rhymes">Rhymes</span></div> <br>
            <div class="outline"><span id="pronunciation">Pronounciation</span></div> <br>
            <div class="outline"><span id="syllables">Syllables</span></div> <br>
            <div class="outline"><span id="frequency">Frequency</span></div> <br>
            <div class="outline"><span id="typeOf">TypeOf</span></div> <br>
            <div class="outline"><span id="hasTypes">has Types</span></div> <br>
            <div class="outline"><span id="partOf">parts of</span></div> <br>
            <div class="outline"><span id="hasParts">has parts</span></div> <br>
            <div class="outline"><span id="instanceOf">instance of</span></div> <br>
            <div class="outline"><span id="similarTo">similarTo</span></div> <br>
            <div class="outline"><span id="hasInstances">has instance</span></div> <br>
            <div class="outline"><span id="also">also</span></div> <br>
            <div class="outline"><span id="entails">entails</span></div> <br>
            <div class="outline"><span id="memberOf">memberof</span></div> <br>
            <div class="outline"><span id="hasMembers">hasmembers</span></div> <br>
            <div class="outline"><span id="substanceOf">substanceof</span></div> <br>
            <div class="outline"><span id="hasSubstances">hassubstance</span></div> <br>
            <div class="outline"><span id="inCategory">inCategory</span></div><br>
            <div class="outline"><span id="hasCategories">hasCategories</span></div><br>
            <div class="outline"><span id="usageOf">usageOf</span></div><br>
            <div class="outline"><span id="hasUsages">hasUsages</span></div><br>
            <div class="outline"><span id="inRegion">inRegion</span></div><br>
            <div class="outline"><span id="regionOf">regionOf</span></div><br>
            <div class="outline"><span id="pertainsTo">pertainsTo</span></div>
        </form>
    </div>
    <script src="../static/js/request.js"></script>
</body>

</html>